@font-face {
    font-family: "opensansregular";
    src: url("fonts/opensans/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "opensanslight";
    src: url("fonts/opensans/OpenSans-Light.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "opensansmedium";
    src: url("fonts/opensans/OpenSans-Medium.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "opensansbold";
    src: url("fonts/opensans/OpenSans-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
  